SECRET_KEY=<your-secret-key>
EMAIL_USER=<email-address>
EMAIL_PASSWORD=<your-password>

SENDGRID_API_KEY=<your-sendgrid-api-key>
DB_BACKEND=postgresql
DB_NAME=<db-name>
DB_USERNAME=<db-user-username>
DB_PASSWORD=<db-user-password>
DB_HOST=localhost
DB_PORT=5432
