asgiref==3.2.7
astroid==2.4.1
Django==3.0.7
django-cors-headers==3.3.0
django-sendgrid-v5==0.8.1
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
future==0.18.2
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
psycopg2==2.8.5
PyJWT==1.7.1
pylint==2.5.2
python-dotenv==0.13.0
python-http-client==3.2.7
pytz==2020.1
sendgrid==6.3.1
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
typed-ast==1.4.1
wrapt==1.12.1
